{{description}}
<div *ngFor="let item of backend_list; trackBy:customTrackBy; let i=index">
  <md-input-container *ngIf="backend_list">
    <input mdInput [placeholder]="item_desc" [(ngModel)]="backend_list[i]"
    (change)="update(item)">
  </md-input-container>
  <button md-button *ngIf="item"
    (click)="delete_setting(item)" tabindex="-1">
    <md-icon>clear</md-icon>
  </button>
</div>
